.places {
    margin-bottom: 60px
}

.places h1 {
    font-size: 30px;
    
}

.articles-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.articles-wrapper article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}

.article-name {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    min-width: 60px;
    height: 60px;
    padding: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information {
    height: 80px;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.information .max_guest,
.information .max_bathrooms,
.information .number_rooms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.information .max_guest div,
.information .number_rooms div,
.information .max_bathrooms div{
    width: 50px;
    height: 50px;
}

.information .max_guest div {
    background: url("../images/icon_group.png") no-repeat;
}

.information .number_rooms div {
    background: url("../images/icon_bed.png") no-repeat;
}

.information .max_bathrooms div {
    background: url("../images/icon_bath.png") no-repeat;
}


.user {
    font-weight: bold;
    margin-bottom: 10px;
}

.user span {
    font-weight: normal;
}

article .amenities,
article .reviews {
    height: fit-content;
    margin-top: 40px;
    width: 100%;
}

article .amenities h2,
article .reviews h2 {
    text-align: left;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
}

article .amenities ul,
article .reviews ul {
    list-style: none none inside;
    padding: 0px;
}

article .amenities ul li {
    display: flex;
    justify-content: start;
    align-items: center;
    width: fit-content;
    margin-bottom: -10px;
}

.tv,
.wifi,
.pets {
    width: 50px;
    height: 50px;
    transform: scale(.5);
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}

.tv {
    background: url("../images/icon_tv.png");
}

.wifi {
    background: url("../images/icon_wifi.png");
}

.pets {
    background: url("../images/icon_pets.png");
}

.reviews ul li h3 {
    font-size: 14px;
    margin: 0px;
}

.reviews ul li p {
    font-size: 12px;
    margin-top: 0px;
}
